.hero-bg {
    height: 50vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/08/18/01/54/car-893224_960_720.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}